@import './base.css';

#app {

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
  padding: 3px;
}

.title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;

}
.title-center{
  text-align: center;
}
.container{
  width: 95%;
  margin: 0 auto;
}
@media (hover: hover) {
 
}

@media (min-width: 1024px) {
  

 
}
